h1 {

    color: midnightblue;


}

img {

    width: 400px;

}

#thirdDiv {

    width: 500px;
    height: 600px;
    background-color:darkslategray;
    padding: 50px;
    border: 20px;
    border-color:orange;
    border-style:solid;

}

#spanId {

    font-size: 18px;
    margin: 50px;
    
}